--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple

torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1

numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.2
pandas==2.2.2
matplotlib==3.9.2
Pillow==10.4.0
opencv-python==4.10.0.84
PyYAML==6.0.2
tqdm==4.66.5
pycocotools==2.0.8
torchmetrics==1.4.2

jupyterlab==4.2.5
ipykernel==6.29.5
ipywidgets==8.1.5
